<h1 mat-dialog-title>Adicionar Lavagem</h1>
<div mat-dialog-content>


  <p>Insira as infomações</p>
  <mat-form-field appearance="fill">
    <mat-label>Id</mat-label>
    <input matInput [(ngModel)]="data.id">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Veículo</mat-label>
    <input matInput [(ngModel)]="data.vehicle">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Entrada</mat-label>
    <input matInput [(ngModel)]="data.startTime">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Saída</mat-label>
    <input matInput [(ngModel)]="data.endTime">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Valor</mat-label>
    <input matInput [(ngModel)]="data.price">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>OBS</mat-label>
    <input matInput [(ngModel)]="data.obs">
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>