table {
    width: 90vw;
}

.mat-column-vehicle, 
.mat-column-id, 
.mat-column-startTime, 
.mat-column-endTime, 
.mat-column-price, 
.mat-column-actions,
.mat-column-obs {
    font-size: 1.2rem;
    padding: 10px;
    text-align: center;
}

.mat-column-vehicle, 
.mat-column-id, 
.mat-column-startTime, 
.mat-column-endTime, 
.mat-column-price,
.mat-column-actions,
.ed-button {
    border-right: 1px solid currentColor;
}

.mat-column-startTime, 
.mat-column-endTime {
    width: 10vw;
}

.mat-column-price {
    width: 10vw;
}

.mat-column-id {
    width: 0px;
}

.mat-column-actions, 
.mat-column-vehicle,
.mat-column-obs {
    text-align: left;
}

.mat-column-vehicle { 
    width: 20vw;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90vw;
    margin-bottom: -25px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
