@import '../../../../../dist/scss/root.scss';
:host {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1, h2 {
        font-size: 2rem;
        color: $primary-font-color;

        position: fixed;
        top: calc(50% - 2rem);
    }

    h2 {
        top: 50%;
        
        font-size: 1.2rem;
        color: $secondary-font-color;
    }

}