:host {
    width: 100vw;

    display: flex;
    flex-flow: nowrap column;
    justify-content: center;
    align-items: center;

    margin-bottom: 20px;
    table {
        width: 95vw;
        min-width: 300px;
        margin-top: 20px;
        // margin-right: 5px;
        th {
            
            font-size: .8rem;
            align-items: center;
        }

        button {
            margin: 5px 2px;
        }
        // .act-buttons {
        //     display: flex;
        //     flex-flow: nowrap row;
        //     justify-content: center;
        //     align-items: center;
        
        // }
    }

}